<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie-Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Boggle Game{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
  </head>
  <body>
    <header>
      <h1>{% block header %}Boggle On Yo!{% endblock %}</h1>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>