{% extends 'base.html' %}
{% block title %}Boggle Board{% endblock %}

{% block content %}
<table>
  {% for row in board %}
  <tr>
    {% for letter in row %}
    <td>{{ letter }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<form action="/check-word" method="POST" id="guessForm">
  <input type="text" name="word" placeholder="Enter your guess" />
  <button type="submit">Your Guess is as good as Mine</button>
</form>
<div id="score-display">Score: <span id="score">0</span></div>
{% endblock %}